__pycache__/animations.cpython-310.pyc
__pycache__/snake.cpython-310.pyc
__pycache__/animations.cpython-310.pyc
__pycache__/animations.cpython-310.pyc
__pycache__/animations.cpython-310.pyc
__pycache__/animations.cpython-310.pyc
__pycache__/constants.cpython-310.pyc
__pycache__/fruit.cpython-310.pyc
__pycache__/snake.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/animations.cpython-311.pyc
__pycache__/snake.cpython-311.pyc
__pycache__/animations.cpython-311.pyc
__pycache__/animations.cpython-311.pyc
__pycache__/animations.cpython-311.pyc
__pycache__/animations.cpython-311.pyc
__pycache__/constants.cpython-311.pyc
__pycache__/fruit.cpython-311.pyc
__pycache__/snake.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
high_scores.json